<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- The launcher entries are the activity-aliases in src/main (11.3);
         remove MainActivity's own launcher filter from the merged manifest. -->
    <application>
        <activity android:name=".MainActivity">
            <intent-filter tools:node="remove">
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
